<div class="my-16 px-offset grid gap-gutter grid-cols-12 tablet:block">
  <div class="rte col-start-5 col-span-4 py-xl">
    <div class="h2 text-center mb-4">
      {{- 'customer.reset_password.title' | t -}}
    </div>

    {%- form 'reset_customer_password', class: 'text-center' -%}
      {%- if form.posted_successfully? -%}
        <p>
          {{- 'customer.recover_password.success' | t -}}
        </p>
      {%- else -%}
        <p class="text-center mb-4">
          {{- 'customer.reset_password.subtext' | t -}}
        </p>

        {%- render 'form-errors', form: form -%}

        <input
          type="password"
          name="customer[password]"
          id="password"
          autocomplete="new-password"
          {% if form.errors contains 'password' %}
            aria-invalid="true"
            aria-describedby="password-error"
          {% endif %}
          placeholder="{{ 'customer.reset_password.password' | t }}"
          class="input w-full"
        >

        <input
          type="password"
          name="customer[password_confirmation]"
          id="password_confirmation"
          autocomplete="new-password"
          {% if form.errors contains 'password_confirmation' %}
            aria-invalid="true"
            aria-describedby="password_confirmation-error"
          {% endif %}
          placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
          class="input w-full mt-xs"
        >

        <button
          type="submit"
          class="button button--primary mt-xs"
          aria-label="{{- 'customer.login_page.submit' | t -}}"
        >
          {{- 'customer.login_page.submit' | t -}}
        </button>
      {%- endif -%}
    {%- endform -%}
  </div>
</div>
