{%- layout 'basic' -%}

<div class="p-16 tablet:p-offset mobile:block grid gap-gutter grid-cols-12">
  <div class="col-start-3 col-span-8 rte text-center min-h-screen flex flex-col items-center justify-center">
    {%- render 'svg', svg: 'logo', class: 'text-scheme-icons' -%}
    <div class="my-lg">
      {{- shop.password_message | newline_to_br -}}
    </div>
    {%- if section.settings.show_login_form -%}
      {%- form 'storefront_password' -%}
        <input
          type="password"
          name="password"
          placeholder="{{- 'customer.login_page.password' | t | escape -}}"
          aria-label="{{- 'customer.login_page.password' | t | escape -}}"
          class="input"
        >

        <input
          type="submit"
          value="{{- 'customer.log_in' | t -}}"
          class="button button--primary"
        >

        <div class="mt-4 rte text-left empty:hidden">
          {{- form.errors | default_errors -}}
        </div>
      {%- endform -%}
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Password",
  "tag": "div",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_login_form",
      "label": "Show login form",
      "default": false
    }
  ]
}
{% endschema %}
